<a routerLink="/">volver a root</a>

<main>
    <div>
        <img class="thumbnail" src="" alt="">
    </div>

    <div>
        <img src="{{ art.imagen }}" alt="">
    </div>

    <div>
        <p class="subtle">Nuevo | 42 vendidos</p>
        <h1 class="bold">{{ art.titulo }}</h1>
        <p class="subtle">8 opiniones</p>
        <h1 class="price">U$S {{ art.precio }}</h1>
        <h4>Bs. {{ art.precio * 35 }}</h4>
        <p class="blue">Ver los medios de pago</p>

        <div class="margin" style="margin-left: 1.5rem;" id="envio-div">
            <p class="green">Envio {{ art.tipoEnvio }}</p>
            <p class="subtle">Barquisimeto, Lara</p>
            <p class="blue">Ver costos de envio</p>
        </div>

        <p class="margin">Color: <b>Negro</b></p>
        <p class="margin">Cantidad: <b>1 unidad</b> <span class="subtle" style="margin-left: 1rem; font-size: 0.85rem;">4 disponibles</span></p>
        
    </div>

</main>
